<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <br>
  <p>Last Name:</p>
  <input type='text' name='artist[name]' value="<%= @artist.name %>"/><br/>
  <p>First Name:</p>
  <input type='text' name='artist[first_name]' value="<%= @artist.first_name %>"/><br/>
  <p>Age:</p>
  <input type='text' name='artist[age]' value="<%= @artist.age %>"/><br/>
  <p>Alive? (true or false)</p>
  <input type='text' name='artist[alive]' value="<%= @artist.alive %>"/><br/>

<br>
  <input type='submit' value="Edit Artist"/>
</form>
