<!-- '/artists/:id' shows artist information according to artist id(:id) -->

<style>
  h6 {text-align:right; margin:0;}
</style>

<h6><a href="/artists">Artist Names</a></h6>
<h6><a href="/records">All Records</a></h6>
<h6><a href="/artists/<%= @artist.id %>/records">Records by the artist</a></h6>
<h6><a href="/artists/<%= @artist.id %>/edit">Update Artist</a></h6>
<h6><%= link_to('Delete Artist', "/artists/#{@artist.id}", method: :delete)%></h6>

<h1><%= @artist.first_name + " " + @artist.name + ": #{@count} records in file" %></h1>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #777777;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<table>
  <tr>
    <th>Full Name</th>
    <th>Age</th>
    <th>Alive</th>
    <th>Created_at</th>
    <th>Updated_at</th>
  </tr>

  <tr>
    <td><%= @artist.first_name + " " + @artist.name %></td>
    <td><%= @artist.age  %></td>
    <td><%= @artist.alive %></td>
    <td><%= @artist.created_at %></td>
    <td><%= @artist.updated_at %></td>
  </tr>

</table>
