<style>
table, th, td {
  border:1px solid black;
}
</style>
<h4><a href=/adk_mountains>ADK Mountains</a></h4>
<h4><a href=/hikers>Hikers</a></h4>
<h4><%= link_to('Hikers associated with this mountain', "/adk_mountains/#{@adk_mountain.id}/hikers")%></h4>
<h4><%= link_to('Update Adk Mountain', "/adk_mountains/#{@adk_mountain.id}/edit")%></h4>
<h4><%= link_to('Delete Adk Mountain', "/adk_mountains/#{@adk_mountain.id}", method: :delete)%></h4>
<h1> ADK Mountain w/ ID <%= @adk_mountain.id %> Number of hikers: <%= @count %></h1>
<table>
  <tr>
    <th> name
    <th> elevation
    <th> high_peak
    <th> updated_at
    <th> created_at
    <th> id
  </tr>
  <tr>
    <th> <%= @adk_mountain.name %> </th>
    <th> <%= @adk_mountain.elevation %> </th>
    <th> <%= @adk_mountain.high_peak %> </th>
    <th> <%= @adk_mountain.updated_at %> </th>
    <th> <%= @adk_mountain.created_at %> </th>
    <th> <%= @adk_mountain.id %> </th>
  </tr>
</table>
