<style>
table, th, td {
  border:1px solid black;
}
</style>
<h1> ADK Mountain w/ ID <%= @adk_mountains.id %> </h1>
<table>
  <tr>
    <th> name
    <th> elevation
    <th> high_peak
    <th> updated_at
    <th> created_at
    <th> id
  </tr>
  <tr>
    <th> <%= @adk_mountains.name %> </th>
    <th> <%= @adk_mountains.elevation %> </th>
    <th> <%= @adk_mountains.high_peak %> </th>
    <th> <%= @adk_mountains.updated_at %> </th>
    <th> <%= @adk_mountains.created_at %> </th>
    <th> <%= @adk_mountains.id %> </th>
  </tr>
</table>
